 /*
  * This Calendar Application was designed by:
  *
  *         Kyle Ferreira
  *         http://www.SterlingSavvy.com
  *
  * Credits for following the template of:
  *
  *        David Walsh
  *        http://davidwalsh.name/php-calendar
  *
  *	Adapted by:
  * 				António Lima
  *				  amrlima@gmail.com / http://www.blog.amrlima.info
  *
  * You are free and welcome to use and manipulate this code as you wish.
  * Please keep a reference to those who helped shape it (ie: the sources above)
  */
  
/* If you wish to make a second calendar class just duplicate this css and 
	 change the calendar key words to that of the new calendar class you want to 
	 use.Like maybe calendar2. then when you call the instance of the class of the 
	 calendar make sure to specify the style in the parameters of the constructor
*/

/* calendar */
/* by not setting a table width you get a table that will cover the size of the 
	 div or page you put it in  */

table.calendar 
{
	border-left: 1px solid #D2D2D2;
	border-top: 1px solid #D2D2D2;
}

/* Settings for the control menu */
table.calendar-control 
{
	width: 100%;
	text-align: center;
	left: 140px;
	position: relative;
}

/* This changes the select month and select year drop down menus */
table.calendar-control-select 
{  
}

tr.calendar-row 
{
	border-right: 1px solid #D2D2D2;
}

td.calendar-day, 
td.calendar-saturday,
td.calendar-sunday,
td.calendar-current-day 
{
	height:100px;
	font-size:11px;
	position:relative;
	vertical-align: top;
	/* This determins the space that will space out the events on the calendar */
	line-height: 4px; 
}

* html div.calendar-day, 
div.calendar-saturday, 
div.calendar-sunday, 
div.calendar-current-day 
{
     height:100px;
}

/* This alters the headings (the days of the week) Change the colour and 
	background for those here */
td.calendar-day-head 
{
	background:#E0EAFF;
	color: #555;
	font-weight:bold;
	text-align:center;
	width:120px;
	padding:5px;
	border-bottom:1px solid #D2D2D2;
	border-top:0px solid #D2D2D2;
	border-right: 1px solid #D2D2D2;
}

/* Change these colours to alter the respective portion of the calendar */
td.calendar-day    
{
	background-color: #FFF;
}

td.calendar-sunday    
{
	background-color: #F4F6FB;
}

td.calendar-saturday    
{
	background-color: #F4F6FB;
}

td.calendar-current-day    
{
	background-color: #FFFDB1;
}

/* These colours are for the mouse over effects on the calendar */
td.calendar-day:hover 
{
	background: #FFFEEF;
}

td.calendar-sunday:hover, 
td.calendar-saturday:hover 
{
	background: #FFFEEF;
}

td.calendar-current-day:hover 
{
	background: #FFFEEF;
}

/* background colour of the blank dates */
td.calendar-day-np 
{
	background-color: #E0E0E0;
	min-height: 100px;
}

* html div.calendar-day-np 
{
	height:100px; 
}

/* This alters the number dates of the calendar */
div.calendar-day-number 
{
	position: relative;
	padding:5px;
	color: #929292;
	/*
	Uncomment this to make a background square around the dates
	Personally I think it looks ugly, but depending on your colour scheme
	it can work :) 
	background-color: #C1C1C1;
	*/
	font-weight:bold;
	float:right;
	margin:-5px -5px 0 0;
	width:20px;
	text-align:right;
	line-height: normal;
}

.calendar-day-number a 
{
	color: #0066CC;
	text-decoration: underline;
}

.calendar-day-number a:hover 
{
	color: #0099FF;
}

/* This alters the text section for events on the calendar. */
div.calendar-text 
{
	color:#929292;
	margin-top: 20px;
}

div.calendar-text a 
{
	color: #0099CC;
	text-decoration: none;
	line-height: 1em;
}

div.calendar-text a:hover 
{
	color: #0099FF;
	text-decoration: underline;
}

/* shared */
td.calendar-day,
td.calendar-current-day, 
td.calendar-sunday, 
td.calendar-saturday, 
td.calendar-day-np 
{
     width:120px;
     padding:5px;
     border-bottom: 1px solid #D2D2D2;
     border-right: 1px solid #D2D2D2;
}

