.yiiTab {
	width:910px;
}

.yiiTab ul.tabs
{
    padding: 2px 0;
    margin: 0;
    font: bold 12px Verdana, sans-serif;
}

.yiiTab ul.tabs li
{
    list-style: none;
    margin: 0;
    display: inline;
}

.yiiTab ul.tabs a
{
 	  border-top-left-radius: 5px;
	  border-top-right-radius: 5px;
    padding: 2px 0.5em;
    margin: 0 0 0 3px;
    border-bottom: none;
    background: #e0eaff;
    text-decoration: none;
}

.yiiTab ul.tabs a:link
{
	color: #667;
}

.yiiTab ul.tabs a:visited
{
	color: #667;
}

.yiiTab ul.tabs a:hover
{
    color: #FFF;
    background: #409EC6;
}

.yiiTab ul.tabs a.active
{
    background: #409EC6;
    border-bottom: #409EC6 solid 2px;
    color: #FFF;
}

.yiiTab div.view
{
    padding: 8px;
    margin: 0;
}
