body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Verdana, Arial, sans-serif;
	background: #FFF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 3px solid #9db7c1;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
	background-image: url('images/header-bg.jpg');
	height: 100px;
}

#content
{
	padding: 20px;
	line-height: 1.5em;
	height: 100%;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	/*padding: 3px;
	margin: 10px 20px;*/
	font-size: 0.8em;
	text-align: center;
	/*border-top: 1px solid #C9E0ED;*/
	background-color: #e7e7e7;
	height: 100%;
	
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
  background-color: #409ec6;
  height: 30px;
}

#mainmenu ul
{
	padding:9px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #185c78;
	background-color:#fff;
	text-decoration:none;
}


div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border-top: 2px solid #d9d9d9;
	background-color: #FFF;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #fff;
}

.portlet
{
	width: 190px;
}

.portlet-decoration
{
	padding: 3px 8px;
	background: #e0eaff;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #185c78;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#f4f6fb;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #64bee3;
}

#occupation-rate
{
	background:#E6EFC2;
	color:#264409;
	width: 200px;
	height: 35px;
	border: #C6D880 solid 2px;
	margin-bottom: 20px;
}

#occupation-rate h4
{
	font-weight: bold;
	padding: 6px;
}


/*********************************** CJuiSelectable ***************************/

.feedback 
{ 
	font-size: 1.4em; 
}
	
.ui-selecting 
{ 
	background: #FECA40; 
}

.ui-selectable .ui-selected 
{ 
	background: #F39814; 
	color: white; 
}

.ui-selectable 
{ 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 200px; 
}

.ui-selectable li 
{ 
	margin: 3px; 
	padding: 4px; 
	font-size: 12px; 
	height: 14px; 
}

.grid-view table.items th
{
	background-image: none;
}


/****************************** Pager *****************************************/

ul.yiiPager
{
	font-size:11px;
	border:0;
	margin:0;
	padding:0;
	line-height:100%;
	display:inline;
}

ul.yiiPager li
{
	display:inline;
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
	border:solid 1px #9aafe5;
	font-weight:bold;
	color:#409EC6;
	padding:1px 6px;
	text-decoration:none;
}

ul.yiiPager .page a
{
	font-weight:normal;
}

ul.yiiPager a:hover
{
	border:solid 1px #7291BB;
}

ul.yiiPager .selected a
{
	background:#409EC6;
	color:#FFFFFF;
	font-weight:bold;
}

ul.yiiPager .hidden a
{
	border:solid 1px #DEDEDE;
	color:#888888;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{
	display:none;
}
