/*********************************** CGridview ********************************/

.grid-view-loading {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("images/loading.gif");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
}
.grid-view {
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
}
.grid-view table.items {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: white;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;

    border-collapse: collapse;

    width: 100%;
}
.grid-view table.items th, .grid-view table.items td {
    border: white solid 1px;
    font-size: 0.9em;
    padding-bottom: 0.3em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.3em;
}
.grid-view table.items th {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #409ec6;
    background-image: none;
    background-origin: padding-box;
    background-position: left top;
    background-repeat: repeat-x;
    background-size: auto auto;
    color: white;
    text-align: center;
    height: 3em;
}
.grid-view table.items th a {
    color: #EEEEEE;
    font-weight: bold;
    text-decoration: none;
}
.grid-view table.items th a:hover {
    color: #FFFFFF;
}
.grid-view table.items th a.asc {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("images/up.gif");
    background-origin: padding-box;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-right: 10px;
}
.grid-view table.items th a.desc {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("images/down.gif");
    background-origin: padding-box;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-right: 10px;
}
.grid-view table.items tr.even {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #F8F8F8;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
.grid-view table.items tr.odd {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #e0eaff;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
.grid-view table.items tr.selected {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #BCE774;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
.grid-view table.items tr:hover {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #ECFBD4;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
.grid-view .link-column img {
}

.grid-view .button-column {
    text-align: center;
    width: 60px;
}
.grid-view .button-column img {
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-top-style: none;
    border-top-width: 0;
}
.grid-view .checkbox-column {
    width: 15px;
}
.grid-view .summary {
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
}
.grid-view .pager {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    text-align: right;
}
.grid-view .empty {
    font-style: italic;
}
.grid-view .filters input, .grid-view .filters select {
    border: #CCCCCC solid 1px;
    width: 100%;
}

/************************ Special css for pax-activity-grid *******************/
#pax-activity-grid table.items th {
	background-color: #5CA11A;
	border: none;
}

#pax-activity-grid table.items tr.odd {
	background-color: #ECFBD4;
}

#pax-activity-grid table.items td {
	font-size: 1.4em;
	font-weight: bold;
	color: #264409;
	text-align: center;
	border-left-width: 0px;
	border-right-width: 0px;
}

#pax-activity-grid table.items {
	border: none;
}

#pax-activity-grid {
	width: 300px;
}

